{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ 'proprio.edit_page.title'|trans }}</h1>

    {{ include('proprio/_form.html.twig', {form: edit_form, action:'proprio.action.retour'|trans,
        actionValue: 'return', action2:'proprio.action.valider'|trans, action2Value: 'valid'}) }}






{% endblock %}