{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'proprio.new_page.title'|trans }}</h2>


    {{ include('proprio/_form.html.twig', {form: new_proprio_form, action2:'proprio.action.ajouter'|trans,
        action2Value: 'new', action:'proprio.action.retour'|trans, actionValue: 'return'}) }}
{% endblock %}

 {% block javascripts %}

 {% endblock %}