{% extends 'base.html.twig' %}

{% block body %}

    <h1>Détail de {{proprio.nom}} {{proprio.prenom}} </h1>

    {{ include('proprio/_form.html.twig', {form: show_form, action:'proprio.action.retour'|trans,
        actionValue: 'return', action2:'proprio.action.modifier'|trans, action2Value: 'edit'}) }}


{% endblock %}