{% extends 'base.html.twig' %}


{% block body %}

    <h3>Fiche Propriétaire : {{proprio.nom}} {{proprio.prenom}} </h3>

    {{ include('proprio/_form.html.twig', {form: show_form, action:'proprio.action.retour'|trans,
        actionValue: 'return', action2:'proprio.action.modifier'|trans, action2Value: 'edit'}) }}


{% endblock %}
