
{% block form_row %}
 <div>
        <div style="float: left">
            {{ form_label(form) }}
        </div>
        <div>
            {{ form_widget(form) }}
        </div>

    </div> 
{% endblock %}