{% use "form_div_layout.html.twig" %}

    <div id="tdb">
        <ul>
            {% for compte in journal %}  
                            <li>  {{ compte[0] }} , {{compte[1]}} , {{compte[2]}}
            {% endfor %}
        </ul>
    </div>
{{ form_end(form,  {'render_rest': false}) }}

