{% extends 'base.html.twig' %}

{% block title %}


{% endblock %}


{% block bodytitle %}
    <h1>Journal</h1>
    <p>Merci de saisir ci-dessous les nouveaux éléments</p>
{% endblock %}


{% block body %}
    <h1>Journal</h1>

<p>Merci de saisir ci-dessous les nouveaux éléments</p>
 

{% endblock %}